<div class="dropdown navbar-user-menu" dropdown>
  <button dropdownToggle>
    <span class="navbar-username ng-binding">12345678</span>
    <i class="sprite-dropdown"></i>
    <div class="navbar-avatar">
      <img src="http://api.storythat.com/avatars/000/000/001/28/e36920eb4d03360b6a0898315698926b7e7243d7.jpg">
    </div>
  </button>
  <ul *dropdownMenu class="dropdown-menu menu-notifications">
    <li><a href="#!/main/my_account"><i class="fa fa-cog pull-left" aria-hidden="true"></i>Account</a></li>
    <li><a href="#!/main/terms_of_use"><i class="fa fa-file-text-o pull-left" aria-hidden="true"></i> Terms of Use and Policies</a></li>
    <li><a><i class="pull-left fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
  </ul>
</div>
