<div class="notification-toggler" dropdown>
  <button type="button" class="dropdown-toggle navbar-notifications" dropdownToggle>
    <span class="bell-icon"></span><span class="count">3</span>
  </button>
  <div *dropdownMenu class="dropdown-menu notifications-wrap">
    <div class="arrow-up"></div>
    <div class="notification-relative">
      <div class="notification-container">
        <div class="notification">
          <div class="notification-header">
            <img class="notify-avatar" alt="avatar" src="http://api.storythat.com/avatars/000/000/001/2/c39fd7bf7014f5a2971f5b8c40c0cf30f8d6eafd.jpg" width="30" height="30" src="http://api.storythat.com/avatars/000/000/001/2/c39fd7bf7014f5a2971f5b8c40c0cf30f8d6eafd.jpg"> &nbsp;
            <a href="#!/main/other_users/102?username=Era"><span class="name">Era</span></a>
            <span class="action">added a note to your story</span>
          </div>
          <div class="top-clock ng-binding" pull-right=""><i class="clock-not-icon"></i>56 days ago</div>
        </div>
      </div>
    </div>
    <a class="see-all-not" href="#">All Notifications</a>
  </div>
</div>
