<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="fr nav-options-wrap">
      <div class="create-your-story-wrapper">
        <button type="button" class="create-story-dropdown btn-story-that-big-light"><span>+</span> Create your story</button>
      </div>
      <button class="nav-my-contacts" tooltip="My Contacts" placement="bottom"><span class="top-upload"></span></button>
      <button class="nav-upload-gallery" tooltip="Upload to Gallery" placement="bottom"><span class="top-upload"></span></button>
      <app-notification-toggler></app-notification-toggler>
      <app-navbar-user-menu></app-navbar-user-menu>
    </div>
    <app-navbar-search-form></app-navbar-search-form>
  </div>
</nav>
