nav.navbar {
  padding: 5px 0;
  margin-bottom: 0;
  background-color: #edeceb;
  border-bottom: 2px solid #ffffff;
  .container {
    .nav-options-wrap {
      .create-your-story-wrapper {
        position: relative;
        display: inline-block;
        .create-story-dropdown {
          line-height: 27px;
          color: #4a4a49;
          font-weight: 400;
        }
      }
      .nav-my-contacts {
        background: none;
        font-size: 20px;
        border: none;
        padding: 0;
        width: 55px;
        height: 65px;
        line-height: 0;
        vertical-align: middle;
        & > span {
          width: 33px;
          height: 33px;
          display: inline-block;
        }
      }
      .nav-upload-gallery {
        background: none;
        font-size: 20px;
        border: none;
        padding: 0;
        width: 55px;
        height: 55px;
        line-height: 0;
        vertical-align: middle;
        &>span {
          width: 35px;
          height: 35px;
          display: inline-block;
          margin-top: 3px;
        }
      }
    }
  }
}
